/*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  height:60vh;
  width: 150vw;
  object-fit: cover;
  
}

.cat1 {
  position: relative;
  margin-top:-50px;
  
 ;
 
}
.cat2 {
 font-size:10rem;
 color:#f4a460;
 }
 .cat3 {
 font-size:4rem;
color: white;

 }
 .cat4 {
   width: 420px;
   border 3px solid brown;
   font-size: 3rem;
   margin-top: 20px;
 

 }
 .cat4 a {
  color: white;
   background-color:#d2691e;
   border-radius:10%;
   text-decoration: none;
padding-left:40px;
   padding-right: 40px;
   padding-top:12px;
   padding-bottom:12px;
   
 }
.div  {
   width: 75vw;
   position:absolute;
   top :530px;
   left :60px;
   
 }
 .span1 {
   background-color:#f4a460;
   padding: 0px 13px;
   font-size: 3rem;
   font-weight:700;
   border-radius: 2% 30% 5% 25%;
   color: white;
 }
 .span2 {
 font-size: 3rem;
   font-weight:700;
 }
 .div1 {
   display: flex;
   width:141vw;
   top: 0;
   left: 0;
   background-color: lightgrey;
   height: 5rem;
 }
 .div2 {
  display: flex;
  width: 90vw;
  padding: 1rem;
  margin-left: 18rem;
 }
 .cat5 {
 
   display: flex;
   width:150vw;
   flex-direction: column;
   align-items:center;
   justify-content center;
background-image: url("img/background1.png"
);
background-repeat: no-repeat;
background-size:cover;
 }
 figcaption {
   color:black;
   text-align: center;
   max-width: 30vw;
 }
 .div3 {
   width: 120vw;
   background-color:#F2D2BD;
   padding: 10rem;
   margin-right:7rem;
 }
 .p1  {
   padding:2rem 0rem 0rem 0rem;
   font-size: 2rem;
   padding-bottom:2rem;
   padding:right:;
 }
 .h2 {
   font-size: 5rem;
   text-align:left;
   color:#FAA0A0;
   
 }
 .p3 {
 color: white;
 font-size: 3rem;
   background-color:#FAA0A0;
   border-radius:10%;
   width:420px ;
padding-left:40px;
   padding-right: 40px;
   padding-top:12px;
   padding-bottom:12px;
   margin-bottom:20rem;
 }
 .cat6{
   display:flex;
 max-width: 140vw;
   flex-wrap:wrap;
   flex-direction row;
   margin-left:8rem;
   margin-top: -30rem;
   padding: 5rem;
   font-size: 4rem;
   color: white;
 }
 .img1 {
  flex: 50%;
   width:50vw ;
   object-fit: contain;
   border: 1rem solid white;
   
 
 }
 .img2 {
  
   flex :100%;
   width: 100vw;
   object-fit:contain;
   border: 1rem  solid white;
   
 }
 .cat7 {
background-color:#244321;
   width:150vw;
 }
 .img3 {
   display: block;
   width: 100vw;
   object-fit: contain;
 }
 legend,button {
   font-size: 5rem;
   color: white;
 }
 label {
   font-size: 4rem;
   color: white;
 }
 .img4 {
   width:100vw;
 }
 .cat7 h2 {
   color: white;
 }
 

 button {
   background-color:#244321;
   border-radius:5px;
 }
 footer {
   font-size:5rem;
 }*/
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img {
  height:60vh;
  width: 150vw;
  object-fit: cover;
}

.cat1 {
  position: relative;
  margin-top:-50px;
  
 ;
 
}
.cat2 {
 font-size:10rem;
 color:#f4a460;
 }
 .cat3 {
 font-size:4rem;
color: white;

 }
 .cat4 {
   width: 420px;
   border 3px solid brown;
   font-size: 3rem;
   margin-top: 20px;
 

 }
 .cat4 a {
  color: white;
   background-color:#d2691e;
   border-radius:10%;
   text-decoration: none;
padding-left:40px;
   padding-right: 40px;
   padding-top:12px;
   padding-bottom:12px;
   
 }
.div  {
   width: 75vw;
   position:absolute;
   top :530px;
   left :60px;
   
 }
 .span1 {
   background-color:#f4a460;
   padding: 0px 13px;
   font-size: 3rem;
   font-weight:700;
   border-radius: 2% 30% 5% 25%;
   color: white;
 }
 .span2 {
 font-size: 3rem;
   font-weight:700;
 }
 .div1 {
   display: flex;
   min-width:147vw;
   top: 0;
   left: 0;
   background-color: lightgrey;
   height: 5rem;
 }
 .div2 {
  display: flex;
  width: 90vw;
  padding: 1rem;
  margin-bottom: 3vh;
  margin-left: 18rem;
 }
 .cat5 {
 
   display: flex;
   width:150vw;
   flex-direction: column;
   align-items:center;
   justify-content center;
background-image: url("img/background1.png"
);
background-repeat: no-repeat;
background-size:cover;
 }
 figcaption {
   color:black;
   text-align: center;
   max-width: 30vw;
 }
 .div3 {
   width: 120vw;
   background-color:#F2D2BD;
   padding: 10rem;
   margin-right:7rem;
 }
 .p1  {
   padding:2rem 0rem 0rem 0rem;
   font-size: 2rem;
   padding-bottom:2rem;
   padding:right:;
 }
 .h2 {
   font-size: 5rem;
   text-align:left;
   color:#FAA0A0;
   
 }
 .p3 {
 color: white;
 font-size: 3rem;
   background-color:#FAA0A0;
   border-radius:10%;
   width:420px ;
padding-left:40px;
   padding-right: 40px;
   padding-top:12px;
   padding-bottom:12px;
   margin-bottom:20rem;
 }
 .cat6{
   display:flex;
 max-width: 140vw;
   flex-wrap:wrap;
   flex-direction row;
   margin-left:8rem;
   margin-top: -30rem;
   padding: 5rem;
   font-size: 4rem;
   color: white;
 }
 .img1 {
  flex: 50%;
   width:50vw ;
   object-fit: contain;
   border: 1rem solid white;
   
 
 }
 .img2 {
  
   flex :100%;
   width: 100vw;
   object-fit:contain;
   border: 1rem  solid white;
   
 }
 .cat7 {
background-color:#244321;
   width:150vw;
 }
 .img3 {
   display: block;
   width: 100vw;
   object-fit: contain;
 }
 legend,button {
   font-size: 5rem;
   color: white;
 }
 label {
   font-size: 4rem;
   color: white;
 }
 .img4 {
   width:100vw;
 }
 .cat7 h2 {
   color: white;
 }
 

 button {
   background-color:#244321;
   border-radius:5px;
 }
 footer {
   font-size:5rem;
 }